<h1>Listing profiles</h1>

<table>
  <tr>
    <th>User</th>
    <th>Dob</th>
    <th>Age</th>
    <th>Criminal</th>
    <th>Sex offender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.user_id %></td>
    <td><%= profile.dob %></td>
    <td><%= profile.age %></td>
    <td><%= profile.criminal %></td>
    <td><%= profile.sex_offender %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
